body 
    margin: 0
    background: #ebebeb23
    

* 
    box-sizing: border-box

.container 
    width: 1160px
    margin: 0 auto
    text-align: center 
    align-items: center


.welcome-to-musica
    display: flex
    flex-direction: row
    


.welcome-to-musica-content
    display: flex
    flex-direction: row
    text-align: start
    justify-content: space-between

.welcome
    font-size: 35px

.welcome span
    background: #cb3333
    padding: 4px
    color: white
.options
    width: calc( 100% /3.4  )
    height: 120px
    border: 1px solid transparent
    padding: 15px 13px
    border-radius: 4px
    background: #cc3333
    color: white
    font-size: 16px
 
.options h3 
    display: flex
    align-items: center
    position: relative
    font-size: 16px
    margin: 5px
    font-family: "Oswald"
    font-weight: 40000
   

.img-btn
    position: relative
    top: 2px
    margin-right: 10px
    height: 8px
    width: 100px
    

.options:last-child, .options:first-child
    background: #1e1e20

.options:nth-last-child(2)
    margin: 0 15px

.arrivals-header 
    display: flex
    flex-direction: row
    justify-content: space-between
    margin-top: 50px 

.arrivals-header h1 
    margin: 0 auto
    font-size: 24px

.img-btn
    width: 740px
    height: 20px
    margin: 10px 0
    transform: translateY(-6px)
    
.arrows-btn
    background: #cc3333
    outline: none
    border: none
    margin: 2px
    width: 25px
    height: 25px
    border-radius: 3px
    transform: translateY(-2px)
    cursor: pointer




.product-list
    display: flex
    flex-direction: row
    flex-wrap: wrap
    margin: 0
    justify-content: space-between
    align-items: flex-start
    padding: 0
    
.products-item 
    background: #ffffff
    list-style: none
    border: 1px solid #f2f2f2
    width: 250px
    height: 450px
    margin: 10px 0  
    

.products-item  img
    width: 248px


.about
    text-align: start
    font-size: 15px

.title
    font-weight: 500
    
.title span
    margin-left: 10px
    font-weight: 400

.product
    margin:  20px 12px
    display: flex
    flex-direction: column

.price-cart-btn
    display: flex
    flex-direction: row
    justify-content: space-between
    

.price-cart-btn button
    display: flex   
    color: white
    background: rgb(30,30,32)
    border: none
    height: 23px
    border-radius: 4px
    padding:  5px
    font-size: 12px
    align-items:  center
    cursor: pointer
    outline: none

.price-cart-btn  span
    color: rgb(30,30,32)
    font-weight: 700
    font-size: 18px

.modal-window
    display: flex
    align-items: flex-start
    flex-direction: column
    font-size: 15px
    border: 1px solid #ffffff
    background-color: #ffffff
    margin: -421px 250px 600px 900px
    width: 360px
    position: absolute
    padding: 10px

.about-product
    height: 90px
    width: 100% 
    display: flex
    flex-direction: row
    justify-content: space-between
    border-bottom: 0.5px dotted #645b5b
    align-items: center

.title-count
    height: 90px
    font-size: 20px
    width: 340px
    float: left
    display: flex
    flex-direction: row
  
.title-count h3,.title-count p
    font-size: 18px
    padding: 0 15px
    margin-bottom: 
    padding: 0

.title-count img
    width: 50px
    height: 50px
    position:  absolute
    margin: 18px 0
        

.price-remove-btn
   margin: 50px 0
    width: 50px 
    display: flex
    flex-direction: column
    justify-content: space-around


.about-cart
    width: 76vw
    padding-left: 20px
    position: relative
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    margin-left: 35px   



.price-close-btn p  
    margin: 0
    font-size: 16px


.modal-close-btn
    width: 25px
    height: 25px
    border-radius: 100%
    color: white
    background: #d23939
    border: none
    cursor: pointer
    outline: none

.total
    padding:  10px 0
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 100%     
    font-size: 18px
    border-bottom: 0.5px dotted #645b5b

.total-price
    color: #ff0000

.view-card
    display: flex
    flex-direction: row
    width: 100%
    margin: 20px 0 10px

.view-card button
    margin-right: 8px
    color: white
    background: #201f1f
    border: none 
    outline: none
    height: 30px
    font-size: 14px
    cursor: pointer
